body {
	background-color: #000000;
	--topbar-color-alarm: #7f0000;
	--topbar-color-ready: #005f00;
	--topbar-color-problem: #5f5f00;
	--topbar-color-notification: #00007f;
	--topbar-font-color: #afafaf;
	--main-text-color: #7f7f7f;

	font-family: monospace;
	margin: 0;
	border: 0;
	padding: 0;
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 3em 3fr 1fr;
	grid-template-columns: 1fr 2fr 1fr;
}

.inline-icon {
	display: inline;
	height: 1em;
	filter: invert(50%);
}

#top-bar {
	grid-column: 1 / -1;
	grid-template-columns: 2em 1fr;
	font-size: 2em;
	text-align: center;
	align-self: center;
	background-color: var(--topbar-color-notification);
	color: var(--topbar-font-color);
}

#clock {
	grid-column: 1 / -1;
	text-align: center;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	color: var(--main-text-color);
}

#clock-time {
	font-size: 15vh;
}

#clock-info {
	height: 2em;
	font-size: 2em;
}

.large-icon {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	filter: invert(50%);
}

#bottom-icon-spacer {
	grid-column: 2 3;
	display: inline-block;
}

#pin-entry {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 5em;
	background-color: #000707ee;
	color: #ffe0e0;
	grid-template-columns: 1fr 25vh 25vh 25vh 1fr;
	grid-template-rows: 25vh 25vh 25vh 25vh;
}

.keypad-key {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
